# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env

# Logs
logs/
*.log
pids/
*.pid
*.seed

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sequelize CLI files
config/config.json

# Optional: Coverage folder
coverage/

